*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100yh;
    background-image: url('gibson.jpg');
    /*background-color: rgb(243, 243, 243);*/
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100yh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img{
    height: 60rem;
}

.instagram-account{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-width: 34rem;
    margin-top: 10rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(41, 40, 40);
    width: 100%;
    padding: 1.3rem 0;
    border: 2px solid rgba(196, 20, 20, 0.788);
}

.group:nth-child(1){
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 19rem;
    margin-bottom: 2px;
}

.group:nth-child(2){
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.Metalgram-logo{
    height: 3rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    
}

.Instagram-login{
    background-color: rgba(196, 20, 20, 0.788);
    color:white;
    padding: 8px;
    border-radius: 4px;
    margin-top: 1rem;
}

.Instagram-logout{
    color: white;
    margin-top: 1rem;
}

.not-account{
    color: rgb(255, 255, 255);
}

.link-blue{
    color: rgba(196, 20, 20, 0.788);
}

.get-the-app{
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(41, 40, 40);
    width: 100%;
    padding: 1.3rem 0;
    border: 2px solid rgba(196, 20, 20, 0.788);
    margin-top: 20px;
    border-radius: 15px;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.get-app{
    color: rgba(196, 20, 20, 0.788);
}

.app-download{
    height: 4rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){

    background-image: url('png-transparent-google-play-android-app-store-apple-android-text-rectangle-logo-removebg-preview.png');
}
.app-download:nth-child(2){

    background-image: url('png-transparent-itunes-app-store-apple-logo-apple-text-rectangle-logo-removebg-preview.png');
}

/* media queries */

@media (max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 650px){
    body{
        background-image: none;
        background-color: rgb(41, 40, 40);
    }

    .instagram-wrapper{
        width: 90%;
    }

    .instagram-phone{
        display: none;
    }

    .group{
        border: 2px solid transparent
    }

    .instagram-account{
        width: 100%;
    }
}